header a {
    text-decoration: none;
    color: #4F4F4F;

}

h1,
h4,
h5 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    margin-left: 24px;
}

.title__header {
    font-size: 31.25px;
    line-height: 36px;
    margin-top: 50px;
}

.title__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    margin-left: 24px;
}

.list__genres-template {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: stretch;
    margin: 20px 0px 0px 27px;
}

.list__genres-item {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    color: #4F4F4F;
    margin: 2px;
}

.list__genres-content {
    width: 76px;
    height: 76px;
    background: #FFFFFF;
    box-shadow: 1px 1px 10px rgba(78, 55, 55, 0.1);
    border-radius: 8px;
    background: url(/Week-9-project-1/assets/images/home_page/icons-book-shelf-general.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 5px;
}

.crime {
    background: url(/Week-9-project-1/assets/images/home_page/icons8-detectivt.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.thriller {
    background: url(/Week-9-project-1/assets/images/home_page/icons8-knife.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.romance {
    background: url(/Week-9-project-1/assets/images/home_page/icons8-heart.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.travel {
    background: url(/Week-9-project-1/assets/images/home_page/icons8-geography.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.sport {
    background: url(/Week-9-project-1/assets/images/home_page/icons8-tennis-racquet.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.Science {
    background: url(/Week-9-project-1/assets/images/home_page/icons8-physics.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.Fantasy {
    background: url(/Week-9-project-1/assets/images/home_page/icons8-witch.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.Young {
    background: url(/Week-9-project-1/assets/images/home_page/icons8-couple.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.Children {
    background: url(/Week-9-project-1/assets/images/home_page/icons8-children.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.Classics {
    background: url(/Week-9-project-1/assets/images/home_page/icons8-book.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.Nature {
    background: url(/Week-9-project-1/assets/images/home_page/icons8-leaf.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.nav__footer {
    width: 100%;
    height: 56px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px -2px 16px rgba(78, 55, 55, 0.1);
    margin-top: 50px;
}

.nav__footer-item {
    align-items: center;
    justify-content: center;
    align-content: stretch;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #53889D;

}

.no-active {
    color: #BBD1D9;
}

.nav__footer-content {
    margin-top: 5px;
}

.nav__header {
    width: 100%;
    height: 56px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(78, 55, 55, 0.15);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

.nav__header-item-3 {
    margin-right: 35px;
}

.nav__header-item-1 {
    margin-left: 24px;
}

.nav__header-item-2 {
    margin-left: 160px;
}


/*
.nav__header-item,
.nav__header-content,
div {
    border: 1px solid black;
}