header a {
    text-decoration: none;
    color: #4F4F4F;
}

h1,
h4,
h5 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1.7rem;
    color: #000000;
}

.title__header {
    font-size: 2rem;
    line-height: 2.25rem;
}

.title__text {
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

/* genres */

.list__genres-template {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: left;
}

.list__genres-item {
    flex: 0 1 auto;
    margin: 0 0.31rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
    line-height: 140%;
    color: #4F4F4F;
}

.list__genres-item .list__genres-content:hover {
    border: 0.16rem solid #D96F6E;
}

.list__genres-content {
    width: 76px;
    height: 76px;
    background: #FFFFFF;
    box-shadow: 0.16rem 0.16rem 0.625rem rgba(78, 55, 55, 0.1);
    border-radius: 0.2rem;
    background: url(../assets/images/home_page/icons-book-shelf-general.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 0.3rem;
    box-sizing: border-box;
}

.crime {
    background: url(../assets/images/home_page/icons8-detectivt.svg);

}

.thriller {
    background: url(../assets/images/home_page/icons8-knife.svg);

}

.romance {
    background: url(../assets/images/home_page/icons8-heart.svg);

}

.travel {
    background: url(../assets/images/home_page/icons8-geography.svg);

}

.sport {
    background: url(../assets/images/home_page/icons8-tennis-racquet.svg);

}

.Science {
    background: url(../assets/images/home_page/icons8-physics.svg);

}

.Fantasy {
    background: url(../assets/images/home_page/icons8-witch.svg);

}

.Young {
    background: url(../assets/images/home_page/icons8-couple.svg);
    ;
}

.Children {
    background: url(../assets/images/home_page/icons8-children.svg);

}

.Classics {
    background: url(../assets/images/home_page/icons8-book.svg);

}

.Nature {
    background: url(../assets/images/home_page/icons8-leaf.svg);

}


@media screen and (min-width: 768px) {
    .nav__header {
        justify-content: left;
    }

    .nav__header-item-3,
    .nav__header-item-2 {
        flex: 1;
        margin: 0 auto;
        max-width: 60px;
        text-align: center;
    }

    .nav__header-item-1 {
        flex: 7;
    }

    h1,
    h4,
    h5,
    .carousel__title_playfair {
        font-family: 'Playfair Display', serif;
        font-style: normal;
        font-weight: bold;
        font-size: 35px;
        line-height: 27px;
        color: #000000;
        /*margin-left: 30px;*/
        text-align: center;
    }

    .title__header {
        font-size: 40px;
        line-height: 40px;
        margin-top: 50px;
        text-align: center;
    }

    .title__text {
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 35px;
        color: #000000;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
    }

    .list__genres-template {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        align-items: stretch;
        margin: 20px 0px 0px 27px;
    }

    .list__genres-item {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 140%;
        color: #4F4F4F;
        margin: 10px;
    }

    .list__genres-item .list__genres-content:hover {
        border: 1px solid #D96F6E;
        box-shadow: 0 0 1em #D96F6E;
    }

    .list__genres-content {
        width: 76px;
        height: 76px;
        background: #FFFFFF;
        box-shadow: 1px 1px 10px rgba(78, 55, 55, 0.1);
        border-radius: 8px;
        background: url(../assets/images/home_page/icons-book-shelf-general.svg);
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 10px;
    }

    .crime {
        background: url(../assets/images/home_page/icons8-detectivt.svg);
        background-position: center;
        background-repeat: no-repeat;
    }

    .thriller {
        background: url(../assets/images/home_page/icons8-knife.svg);
        background-position: center;
        background-repeat: no-repeat;
    }

    .romance {
        background: url(../assets/images/home_page/icons8-heart.svg);
        background-position: center;
        background-repeat: no-repeat;
    }

    .travel {
        background: url(../assets/images/home_page/icons8-geography.svg);
        background-position: center;
        background-repeat: no-repeat;
    }

    .sport {
        background: url(../assets/images/home_page/icons8-tennis-racquet.svg);
        background-position: center;
        background-repeat: no-repeat;
    }

    .Science {
        background: url(../assets/images/home_page/icons8-physics.svg);
        background-position: center;
        background-repeat: no-repeat;
    }

    .Fantasy {
        background: url(../assets/images/home_page/icons8-witch.svg);
        background-position: center;
        background-repeat: no-repeat;
    }

    .Young {
        background: url(../assets/images/home_page/icons8-couple.svg);
        background-position: center;
        background-repeat: no-repeat;
    }

    .Children {
        background: url(../assets/images/home_page/icons8-children.svg);
        background-position: center;
        background-repeat: no-repeat;
    }

    .Classics {
        background: url(../assets/images/home_page/icons8-book.svg);
        background-position: center;
        background-repeat: no-repeat;
    }

    .Nature {
        background: url(../assets/images/home_page/icons8-leaf.svg);
        background-position: center;
        background-repeat: no-repeat;
    }

}