section {
    padding: 0 0 0 1.25rem;
}

/* footer */

.nav__footer {
    width: 100%;
    height: 3.5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px -2px 16px rgba(78, 55, 55, 0.1);
    margin-top: 50px;
}

.nav__footer-item {
    align-items: center;
    justify-content: center;
    align-content: stretch;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #53889D;
}

.no-active {
    color: #BBD1D9;
}

.nav__footer-content {
    margin-top: 5px;
}

/* header */

.nav__header {
    width: 100%;
    height: 56px;
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(78, 55, 55, 0.15);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

.nav__header a {
    text-decoration: none;
    color: initial;
}

.nav__header-item-3,
.nav__header-item-2 {
    flex: 1;
    margin: 0 auto;
    max-width: 60px;
    text-align: center;
}

.nav__header-item-1 {
    flex: 7;
    margin-left: 24px;
}

.nav__header-item-3:hover img,
.nav__header-item-2:hover img {
    opacity: 0.7;
}

/* carousel */

.owl-nav {
    display: none;
}

.carousel__row_promo {
    margin: 0 0 0 -0.8rem;
}

.carousel__title {
    margin-bottom: 16px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

.carousel__title-playfair {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}

.carousel__title span {
    cursor: pointer;
    margin-left: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 140%;
    color: #53889D;
}

.carousel__item {
    cursor: pointer;
    width: 100%;
    max-width: 150px;
}

.carousel__item:hover img {
    box-shadow: #787878 0 5px 10px;
}

.carousel__item_author {
    width: 100%;
}

.carousel__item img {
    height: 210px;
}

.carousel__caption {
    margin-top: 7px;
}

.carousel__caption_small {
    margin-top: 4px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    text-align: center;
    color: #000000;
}

.carousel__caption-text {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 21px;
    color: #000000;
}

.carousel__caption-subtext {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    color: #4F4F4F;
}

.carousel__caption-price {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #D96F6E;
}

.carousel__link {
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    color: #D96F6E;
}

/* favorite-genres */

.favorite-genres__title {
    margin-bottom: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

.favorite-genres__tags {
    display: flex;
    flex-wrap: wrap;
}

.favorite-genres__tag {
    cursor: pointer;
    background-color: #D96F6E;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: fit-content;
    height: 1.6rem;
    margin: 0 0.5rem 0.5rem 0;
    padding: 0.3rem 0.9rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
}

.favorite-genres__tag:hover {
    box-shadow: #787878 0 0 6px;
}

.favorite-genres__tag.darkblue-blue {
    background: linear-gradient(90deg, #53889D 0%, #BBD1D9 100%);
}

.favorite-genres__tag.pink-red {
    background: linear-gradient(90deg, #F3A492 0%, #D96F6E 100%), #C4C4C4;
}

.favorite-genres__tag.yellow-red {
    background: linear-gradient(90deg, #F2D05C 0%, #F3A492 100%);
}

.favorite-genres__tag.blue-yellow {
    background: linear-gradient(90deg, #BBD1D9 0%, #F2D05C 92.86%);
}

.favorite-genres__tag.red-yellow {
    background: linear-gradient(90deg, #D96F6E 0%, #F2D05C 100%);
}

@media screen and (min-width: 768px) {

    .main {
        max-width: 784px;
        margin: auto;
        box-shadow: 0px -2px 16px rgba(78, 55, 55, 0.1);
    }
}