.main {
    padding: 0.5rem;
}

article,
section {
    padding-bottom: 50px;
}

.wrapper {
    padding: 0 24px;
}

/* footer */

.nav__footer {
    width: 100%;
    height: 56px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px -2px 16px rgba(78, 55, 55, 0.1);
    margin-top: 50px;
}

.nav__footer-item {
    align-items: center;
    justify-content: center;
    align-content: stretch;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #53889D;
}

.no-active {
    color: #BBD1D9;
}

.nav__footer-content {
    margin-top: 5px;
}

.nav__header {
    width: 100%;
    height: 56px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(78, 55, 55, 0.15);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

.nav__header-item-3 {
    margin-right: 35px;
}

.nav__header-item-1 {
    margin-left: 24px;
}

.nav__header-item-2 {
    margin-left: 160px;
}

/* carousel */
.owl-nav {
    display: none;
}

.carousel {
    padding-left: 24px;
}

.carousel__title {
    margin-bottom: 16px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

.carousel__title-playfair {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}

.carousel__title span {
    cursor: pointer;
    margin-left: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 140%;
    color: #53889D;
}

.carousel__item {
    width: 100%;
    max-width: 150px;
}

.carousel__item:hover img {
    box-shadow: #787878 0 5px 10px;
}

.carousel__item_author {
    width: 100%;
}

.carousel__item img {
    height: 210px;
}

.carousel__caption {
    margin-top: 7px;
}

.carousel__caption_small {
    margin-top: 4px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    text-align: center;
    color: #000000;
}

.carousel__caption-text {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 21px;
    color: #000000;
}

.carousel__caption-subtext {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    color: #4F4F4F;
}

.carousel__caption-price {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #D96F6E;
}

.carousel__link {
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    color: #D96F6E;
}

.profile__header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.profile__img {
    width: 128px;
    height: 131px;
    background: url(/assets/images/profile_page/profile.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 50px 0px 20px 0px;
}

.profile__title {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 31.25px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}

.profile__text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #828282;
}

.profile__desc {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 20px 0px 0px 0px;

}

.profile__foll {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #4F4F4F;
    margin: 0px 50px 0px 50px;

}

.profile__cif {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin-top: 10px;
}

.wishlist__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    margin: 0px 20px 0px 24px;
}

.wishlist__cif {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    color: #53889D;
}

.wishlist {
    display: flex;
    margin-bottom: 15px;
}

.wishlist__template {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    margin-left: 24px;
}

.wishlist__template-item-1 {
    width: 104px;
    height: 160.46px;
    background: url(/assets/images/coverbooks/book-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 5px;

}

.wishlist__template-item-2 {
    width: 104px;
    height: 138.67px;
    background: url(/assets/images/coverbooks/book-7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    filter: drop-shadow(1px 1px 10px rgba(78, 55, 55, 0.2));
    margin: 5px;
    align-self: flex-start;

}

.wishlist__template-item-3 {
    width: 104px;
    height: 150.9px;
    background: url(/assets/images/coverbooks/book-8.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    filter: drop-shadow(1px 1px 10px rgba(78, 55, 55, 0.2));
    margin: 5px;
    align-self: flex-start;

}

.wishlist__template-item-4 {
    width: 104px;
    height: 157.82px;
    background: url(/assets/images/coverbooks/book-9.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    filter: drop-shadow(1px 1px 10px rgba(78, 55, 55, 0.2));
    margin: 5px;
    align-self: flex-start;

}

.wishlist__template-item-5 {
    width: 104px;
    height: 160.91px;
    background: url(/assets/images/coverbooks/book-10.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    filter: drop-shadow(1px 1px 10px rgba(78, 55, 55, 0.2));
    margin: -35px 5px 5px 5px;
}

.wishlist__template-item-6 {
    width: 104px;
    height: 157.32px;
    background: url(/assets/images/coverbooks/book-11.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    filter: drop-shadow(1px 1px 10px rgba(78, 55, 55, 0.2));
    margin: -10px 5px 5px 5px;
}

.wishlist__link {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.wishlist__link a {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    text-align: center;
    color: #D96F6E;
}