.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem;
}

.book__cover {
    max-width: 40%;
    margin: 1rem 0;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);

}

.book__title {
    margin-top: 0.8rem;
    margin-bottom: 0.2rem;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.book__author {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-family: 'Montserrat', sans-serif;
}

.book__publish-data {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    color: #828282;
}

.book__text {
    margin-top: 0.2rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em;
}

.book__text>a {
    color: #53889D;
    text-decoration: none;
}

.book__price {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.box-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em 0;
}

.box-btn__btn {
    width: 18.75rem;
    height: 2.5rem;
    margin: 0.2rem 0;
    border-radius: 0.5rem;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    letter-spacing: 0.2rem;
    font-weight: bold;
}

.box-btn__btn_blush {
    background-color: #D96F6E;
}

.box-btn__btn_soft-pink {
    background-color: #F3A492;
}

.descr-publish-book {
    text-align: center;
    margin: 2em 3em;
}

.share {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.share__title {
    margin: 0.5em 0;
    font-family: 'Montserrat', sans-serif;
    color: #4F4F4F;
}

.share__socia-items>a {
    margin: 0 0.4rem;
}

.link-view-all {
    text-align: center;
    margin: 2rem 0;
}

.link-view-all__link {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #D96F6E;
    font-size: 0.75rem;
}

/* genres */
.favorite-genres {
    padding: 1.25rem;
}


.favorite-genres__tags {
    justify-content: center;
}

.favorite-genres__title {
    text-align: center;
    margin: 0;
}